---
layout: default
title: Avalanche Mustache Development Blog
---

<div id="home">
    <h1>Blog Posts</h1>
    <hr>
    <ul class="posts">
        {% for post in site.posts %}
            <a href="{{ post.url }}">
                <li>
                    <span class="post-title">{{ post.title }}</span>
                    <hr>
                    <span class="post-info"><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}, <i class="fa fa-user"></i> {{ post.author }}</span>
                     :: 
                    {% for tag in post.categories %}
                       <span class="label label-default">{{ tag }}</span> 
                    {% endfor %}
                </li>
            </a>
        {% endfor %}
    </ul>
</div>